.detailsContainer {
    background-color: #000000f1;
    color: #fff;
    display: flex;
    margin-top: 12px;
    opacity: 0.9;
    padding: 35px 0px;
}

.linkContainer {
    font-weight: bold;
    margin-top: 30px;
    margin-left: 20px;

}

.linkStyle {
    box-shadow: 2px 3px 6px rgba(152, 153, 152, 0.2);
    border-radius: 5px;
    border: 1px solid #ddbc00;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 9px;
}

.linkStyle:hover {
    background: #ac9200;
    transition: 0.4s;
}

.images {
    border-radius: 15px;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
    margin-left: 25px;
}

.details {
    color: #fff;
    margin-left: 80px;
    margin-right: 15px;
    position: relative;
}

.details::before {
    background-color: #383838;
    content: "";
    opacity: 0.5;
    position: absolute;
}

.releaseDate {
    font-size: 14px;
}

.tagline {
    color: #7e7e7e;
    font-family:  'Segoe UI', Roboto,  'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: 500;
}

.overviewContainer {
   margin-right: 5px;
}

.overviewContainer h2{
    margin-bottom: -5px;
}

.producers {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}