.searchContainer {
    margin: 20px auto;
    position: relative;
    width: 400px;
}

.input {
    border-radius: 15px;
    border: none;
    background-color: #131335;
    color: #ddbc00;
    font-size: 16px;
    outline: none;
    padding: 10px 50px;
    width: 100%;
}
