.linkContainer {
    font-weight: bold;
    margin-top: 24px;
    margin-left: 20px;
}

.link {
    box-shadow: 2px 3px 3px rgba(102, 102, 117, 0.2);
    border-radius: 5px;
    border: 1px solid #ddbc00;
    color: #e4e4e4;
    text-decoration: none;
    padding: 12px 15px;
}

.link:hover {
    background-color: #ddbc00;
    transition: 0.4s;
}

.inputContainer {
    margin: 15px auto 20px auto;
    position: relative;
    width: 50%;
}

.input {
    box-shadow: 0px 1px 1px rgba(102, 102, 117, 0.2);
    border-radius: 15px;
    border: none;
    background-color: #131335;
    color: #ddbc00;
    font-size: 16px;
    outline: none;
    padding: 10px 50px;
    width: 100%;
}

.loading {
    font-size: larger;
    color: #ffffff;
}


.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(0deg, #5e5001 50%, #ddbc00 100%);
    animation: spin 1s linear infinite;
}

.innerCircle {
    width: 90%;
    height: 90%;
    background-color: #0e0e0e;
    border-radius: 50%;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:769px) {
    .linkContainer {
        margin-bottom: 30px;
    }

    .inputContainer {
        width: 80%;
    }
}