.parent {
    border: 1px solid #646364;
    color: #929191;
    display: flex;
    font-size: 14px;
    justify-content: center;
}

.modelContainer {
    align-items: center;
    background-color: #0b0b1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 850px;
    padding: 60px 40px;
}

.fbox {
    color: #ddbc00;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: -1px;
}

.modelHeader {
    align-items: center;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #ddbc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #414141;
    font-weight:800;
    padding: 10px 40px;
    margin: 10px;
}
